{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Page title
{% endblock %}

{% block scripts %}
  <script>


    //this prevents that pressing enter will automatically submitt the page and abort the game for a player
    $(document).on("keypress", 'form', function (e) {
    var code = e.keyCode || e.which;
    console.log(code);
    if (code == 13) {
        console.log('Inside');
        e.preventDefault();
        return false;
    }
});



    // Boilerplate that lets you access useful oTree template variables from Javascript.
    // from the docs:
    //<otree-constants>` is used by most of the other webcomponents, so this block is
    //required in any template using the otree-redwood components:
    var oTree = oTree || {};
    (function() {
      oTree.group = parseInt("{{ player.group.pk }}");
      oTree.group = isNaN(oTree.group) ? null : oTree.group;
      oTree.role = "{{ player.role }}";
      oTree.participantCode = "{{ player.participant.code }}";
      oTree.appName = "{{ subsession.app_name }}";
      oTree.idInGroup = "{{ player.id_in_group }}";
      oTree.csrfToken = "{{ csrf_token }}";
      oTree.secsPerQuestion = {{ Constants.secs_per_question }}
      oTree.waitBetween = {{ Constants.wait_between_question }}
      oTree.questionsPerRound = {{ Constants.questions_per_round }}
      {% if view.is_debug %}
      oTree.debug = true;
      {% else %}
      oTree.debug = false;
      {% endif %}
    })();



    // Call the handle Guess function when the submitt button is clicked
    var subButton = document.getElementById('subbutton');
    subButton.addEventListener('click', handleGuess);

    //This function is called when the submitt button is clicked
    // It sends the guess over the guessing Channel to otree, therefore on_guessingchannel_event is called
    function handleGuess() {
        //TODO initialize the variables out of the function?
        //grap the input of the input form as a variable
         var guessed = document.getElementById('guessfield').value;
         var message = document.getElementById('message');
         var guessingChan = document.getElementById("guessingChannel");

        if (guessed.length < 1) {
            message.textContent = 'Please type anything';

        } else {
            guessingChan.send({guess: guessed, id: oTree.idInGroup})
        }
    }





    // Receives information over channel from 'on_guessingChannel_event' in oTree after the guess is processed there
    // Takes all the desired actions
    document.getElementById('guessInformations').addEventListener('event', instructions_after_guess)
    function instructions_after_guess(event){
        // if the guess was right
        if (event.detail.payload.correct == true){

            // reveal the correctly guessed word
            var correctguess = document.getElementById(event.detail.payload.whichword);
            correctguess.textContent = event.detail.payload.guess
            //color the background green
            correctguess.style.background = 'linear-gradient(lightgreen, limegreen)'



            // display message for all players on message board
            var node = document.createElement("Li");
            var span1 = document.createElement("span")
            var textnode=document.createTextNode("A player found ");
            span1.appendChild(textnode)
            var span2 = document.createElement("span")
            span2.style.color = "blue"
            var textnode2 = document.createTextNode(event.detail.payload.guess)
            span2.appendChild(textnode2)
            span1.appendChild(span2)
            node.appendChild(span1);
            document.getElementById("guesslist").appendChild(node);

            //scroll the div around the guesslist to the end, so always the newewst guess is displayed
            var scrollme = document.getElementById('aroundguesslist');
            scrollme.scrollTop = scrollme.scrollHeight;

            // if the player is the who guessed correctly, tell him good job
            if (oTree.idInGroup == event.detail.payload.idInGroup){
                var message = document.getElementById('message')
                message.textContent = 'That was correct. Good job!'
            }

            // all words have been found, still, wait until the time is up, so the overall timing stays consistent
            if (event.detail.payload.finished == true){
                var message = document.getElementById('message')
                message.textContent = 'Great! your group found all the questions. Please wait for the round to finish...'
            }


        // when the guess was wrong
        } else {
            // display message for all players on message board
            var node = document.createElement("Li");
            var span1 = document.createElement("span")
            var textnode=document.createTextNode("A player tried ");
            span1.appendChild(textnode)
            var span2 = document.createElement("span")
            span2.style.color = "red"
            var textnode2 = document.createTextNode(event.detail.payload.guess)
            span2.appendChild(textnode2)
            span1.appendChild(span2)
            node.appendChild(span1);
            document.getElementById("guesslist").appendChild(node);

            //scroll the div around the guesslist to the end, so always the newewst guess is displayed
            var scrollme = document.getElementById('aroundguesslist');
            scrollme.scrollTop = scrollme.scrollHeight;


            // if the player is the who guessed correctly, tell him try again
            if (oTree.idInGroup == event.detail.payload.idInGroup){
                var message = document.getElementById('message')
                message.textContent = 'You tried ' + event.detail.payload.guess + '. Try again!'
            }
        }
    }




    //sending a new question to from oTree to the players
    // initializing the 40 + 5 seconds round of a question
    document.getElementById('questionChannel').addEventListener('event', receive_question);
    function receive_question(event){

        //if multiple family feud subrounds (more then 1 question) are played turn shown solutions to placeholders again
        var s1 =  document.getElementById('s1');
        s1.textContent = 'Word 1'
        s1.style.background = 'linear-gradient(lightyellow,yellow)'
        var s2 =  document.getElementById('s2');
        s2.textContent = 'Word 2'
        s2.style.background = 'linear-gradient(lightyellow,yellow)'
        var s3 =  document.getElementById('s3');
        s3.textContent = 'Word 3'
        s3.style.background = 'linear-gradient(lightyellow,yellow)'
        var s4 =  document.getElementById('s4');
        s4.textContent = 'Word 4'
        s4.style.background = 'linear-gradient(lightyellow,yellow)'
        var s5 =  document.getElementById('s5');
        s5.textContent = 'Word 5'
        s5.style.background = 'linear-gradient(lightyellow,yellow)'

        // send to message board
        document.getElementById('message').textContent = "Let's go. Type your guess in the field below!"

        // display question
        var questiontag = document.getElementById('question')
        questiontag.textContent = event.detail.payload.question

        //enable submitt button
        document.getElementById("subbutton").disabled = false;

        //activate the round
        currtime = new Date().getTime()
        stoptime = currtime + (oTree.secsPerQuestion*1000)
        run_round(event,stoptime)

    }

    function run_round(anevent, stoptime){
        //start the timer
       currtime = new Date().getTime();
       n = Math.floor((stoptime - currtime)/1000);
       document.getElementById('timer').textContent = 'Time left: ' + parseInt(n);
       // call function again every second until the time is up
       if(n > 0 ) {
           setTimeout( function() {run_round(anevent, stoptime);},1000)
       //time is up
       }else {
           // disable the submitt button, so players cannot guess when the will be shown
           document.getElementById("subbutton").disabled = true;
           // display results
           setTimeout(function () {display_all(anevent);}, 100);
           document.getElementById('timer').textContent = 'Round done, please wait a moment ...'

       }
    }

    var questions_left = oTree.questionsPerRound - 1;
    //this is called from 'receive_question' 40 seconds after a question is displayed
    //TODO 02.012 ok and then after this wait 5 seconds and send next question to do this again basically
    function display_all(anevent){

        var s1 =  document.getElementById('s1');
        s1.textContent = anevent.detail.payload.s1[0]
        s1.style.background = 'linear-gradient(lightgreen, limegreen)'
        var s2 =  document.getElementById('s2');
        s2.textContent = anevent.detail.payload.s2[0]
        s2.style.background = 'linear-gradient(lightgreen, limegreen)'
        var s3 =  document.getElementById('s3');
        s3.textContent = anevent.detail.payload.s3[0]
        s3.style.background = 'linear-gradient(lightgreen, limegreen)'
        var s4 =  document.getElementById('s4');
        s4.textContent = anevent.detail.payload.s4[0]
        s4.style.background = 'linear-gradient(lightgreen, limegreen)'
        var s5 =  document.getElementById('s5');
        s5.textContent = anevent.detail.payload.s5[0]
        s5.style.background = 'linear-gradient(lightgreen, limegreen)'

        //check if there is a question left otherwise go to the next page in oTree
        if (questions_left == 0){
            // family feud finished, wait and submitt page
            setTimeout( function(){ submitt_nextbutton();}, oTree.waitBetween*1000)
        }else{
            //wait 'waitBetween' seconds and then let the first player in the group request oTree to send another question
            setTimeout( function() {request_question();}, oTree.waitBetween*1000)
        }
        questions_left -= 1
    }


    function submitt_nextbutton(){
        document.getElementById('next').click()
    }

    //if you play more then 1 question in a family feud subround
    function request_question(){
        if (oTree.idInGroup == 1){
        var questionChan = document.getElementById("questionChannel");
        //send to Otree, so otree sends a question back to 'receive_question', this activates a new round
        questionChan.send({some:'load'})
        }
    }



  </script>

  <link
    rel="import"
    href="/static/otree-redwood/webcomponents/redwood-period/redwood-period.html">
  <link
    rel="import"
    href="/static/otree-redwood/webcomponents/redwood-channel/redwood-channel.html" />
  <link
    rel="import"
    href="/static/bower_components/polymer/polymer.html" />


    <style type="text/css">
        wrapper {
        width: 500px;
        border: 1px solid black;
        overflow: hidden; /* will contain if #middle is longer than #groupguesses */
        }

        #middle {
            width: 580px;
            height: 550px;
            float:left; /* add this */
            border: 1px solid blue;
            margin-right: 15px;
            border-radius: 20px;
            vertical-align:top;
            /*background: linear-gradient(white,#f5f5f5)
            /*#e8e8e8*/
            background: linear-gradient(white, #CEE3F6);

        }
        #groupguesses {
            margin-top: -5px;
            border: 1px solid blue;
            width: 300px;
            height: 550px;
            overflow: hidden; /* if you don't want #groupguesses to wrap below #first */
            border-radius: 15px;
            background: linear-gradient(white, #CEE3F6)

        }

        #centerthis {
            width: 70%;
            margin: 0 auto;
            vertical-align:top;
            height: 90%;
        }

        #messageboard {
            margin: 0 auto;
            width: 70%;
            padding-left: 5px;
            padding-right: 5px;
            height: 70px;
            border-radius: 10px;
            border-color: black;
            border: dashed;
            background-color: white;
        }

        #questionboard{
            padding-left:5px;
            padding-right:5px;
            border-radius: 15px;
            height: 80px;
            border-color: black;
            border: dashed;
            margin-bottom: 20px;
            background-color: white;
        }


        #aroundheading{padding-top:1px;background: linear-gradient(#819FF7,#2E64FE); height: 40px; color: white}


        h4{ margin-left: 70px; margin-top: 10px}


        #question{font-family: "Helvetica"; font-weight: bold;}

        /* overflow auto implements the scrolling behavior; auto scrolling to the end of the div is activated in 'instructions_after_guess' */
        #aroundguesslist{border-radius:8px; width:285px;margin-left: 15px; overflow: auto; height: 85%; float: left; background-color: white}

        #aroundfieldbutton{width: 200px; margin: 0 auto; padding-top: 20px}

        #guessfield{width: 200px; border-radius: 6px}

        #subbutton{width: 200px; border-radius: 6px; background: linear-gradient(#819FF7,#2E64FE); color: white}




    </style>

  {% endblock %}

  {% block content %}

      <!-- add this then the period_length() function is called in oTree -->
      <redwood-period></redwood-period>

      <!-- set up channels  -->


      <!-- guesses from the player are send to oTree  -->
      <redwood-channel
    		id="guessingChannel"
    		channel="guessingChannel">
	    </redwood-channel>

      <!-- after processing a guess, respective informations are send back to the players-->
      <redwood-channel
            id="guessInformations"
    		channel="guessInformations">
	    </redwood-channel>

       <!-- sends a question load to the players, also the first player in a group can request a new question by this channel -->
        <redwood-channel
            id="questionChannel"
    		channel="questionChannel">
	    </redwood-channel>




      <!-- Template of the page -->

      <div id="wrapper">

          <!-- main box on the left -->
          <div id="middle">


              <p id="timer" style="padding-top:5px;padding-left: 10px">Time left:</p>
              <br>

              <div id="centerthis">

                  <!-- Display the question -->
                  <div id="questionboard" >
                    <p id="question" style="padding-top: 15px; text-align: center">Prepare for the first question ...</p>
                  </div>



                  <!-- Word placeholders in middle-->

                  <p id='s1' style="text-align:center;border-radius: 5px;background:linear-gradient(lightyellow, yellow); border:1px; border-style:solid; padding-left: 6px";>Word is loaded ...</p>
                  <p id='s2' style="text-align:center;border-radius: 5px;background:linear-gradient(lightyellow, yellow);border:1px; border-style:solid; padding-left: 6px";>Word is loaded ...</p>
                  <p id='s3' style="text-align:center;border-radius: 5px;background:linear-gradient(lightyellow, yellow); border-style:solid; padding-left: 6px";>Word is loaded ...</p>
                  <p id='s4' style="text-align:center;border-radius: 5px;background:linear-gradient(lightyellow, yellow); border-style:solid; padding-left: 6px";>Word is loaded ...</p>
                  <p id='s5' style="text-align:center;border-radius: 5px;background:linear-gradient(lightyellow, yellow); border-style:solid; padding-left: 6px";>Word is loaded ...</p>




                  <!-- Messageboard -->
                  <br>
                  <div id="messageboard">
                      <p id='message' style=" padding-top:15px; text-align: center">Load message board....</p>
                  </div>


                  <div id="aroundfieldbutton">
                        <br>
                        <!-- Input form -->
                        <input id='guessfield' type='text' maxlength='25' placeholder="Guess a word!">
                        <br><br>
                        <!-- Button submitt input  -->
                        <button id='subbutton' type='button' >Submitt your guess</button>
                  </div>

              </div>

          </div>


          <!-- the box on the right hand side-->
          <div id="groupguesses">
              <div id="aroundheading">
                <h4>Group Guesses</h4>
              </div>      

            <!-- Display guesses of the other players -->
              <br>
              <div id="aroundguesslist">
                  <ul id='guesslist' style="list-style: None; margin: 0 auto"></ul>
              </div>

          </div>

      </div>


      <!-- hidden next button, is clicked after all question rounds -->
      <button class="otree-btn-next btn btn-primary next-button otree-next-button" id="next" style="visibility: hidden" ></button>





{% endblock %}


