{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Page title
{% endblock %}

{% block scripts %}
  <script>


    // Boilerplate that lets you access useful oTree template variables from Javascript.
    //<otree-constants>` is used by most of the other webcomponents, so this block is
    //required in any template using the otree-redwood components:
    var oTree = oTree || {};
    (function() {
      oTree.group = parseInt("{{ player.group.pk }}");
      oTree.group = isNaN(oTree.group) ? null : oTree.group;
      oTree.role = "{{ player.role }}";
      oTree.participantCode = "{{ player.participant.code }}";
      oTree.appName = "{{ subsession.app_name }}";
      oTree.idInGroup = "{{ player.id_in_group }}";
      oTree.csrfToken = "{{ csrf_token }}";
      {% if view.is_debug %}
      oTree.debug = true;
      {% else %}
      oTree.debug = false;
      {% endif %}
    })();



{##}
{#    // Get the decision component and other-decision element.#}
{##}
{#    //i dont know, but this might be the whole redwood-decision.html thing .. e. g. we can access decision.otherDecision#}
{#    var decision = document.querySelector("redwood-decision");#}
{##}
{#    // so we set this to manipulate the html tag with id='other-decision' below in the block contents#}
{#    var otherDecision = document.getElementById("other-decision");#}
{##}
{#    // i try this#}
{#    var groupDecision = document.getElementById('group-dec')#}
{##}
{#    // Log period start/end to the JavaScript console.#}
{#    document.querySelector("redwood-period").addEventListener('period-start', function(event) {#}
{#      console.log('period started');#}
{#    });#}
{#    document.querySelector("redwood-period").addEventListener('period-end', function(event) {#}
{#      console.log('period ended');#}
{#    });#}
{##}
{#    // When group decisions changes, update the text of the otherDecision element.#}
{#    decision.addEventListener('group-decisions-changed', function(event) {#}
{#      otherDecision.innerText = decision.otherDecision;#}
{#    });#}
{##}
{#    // so i try this to manipulate the inner text of my group-dec tag#}
{#     decision.addEventListener('group-decisions-changed', function(event) {#}
{#      groupDecision.innerText = decision.groupDecisions#}
{#    });#}
{##}
{##}
{##}
{##}
{##}
{#    // Attach this to a button onclick event to set your decision when the button is clicked.#}
{#    function setDecision(d) {#}
{#      decision.myDecision = d;#}
{#    }#}
{##}
{##}




    // Delete everything above here
    // vars




    //This function is called when the submitt button is clicked
    // this fills the field where the own submissions are listed
    // I also want that the channel is fired from here...
    function handleGuess() {
        //TODO i would like to initialize the variables out of the function so that they are not initialized evertime when the function is called
        //TODO because this happens alot ... i tried, but i couldnt, so i leave them in here for now
        //grap the input of the input form as a variable
         var guessed = document.getElementById('guessField').value;
         var result = document.getElementById('result');
         var guessingChan = document.getElementById("guessingChannel");


        if (guessed.length < 1) {
            result.textContent = 'Try a word';
            //alert('try a word');

        } else {
            result.textContent = guessed;
            guessingChan.send(guessed)
            //alert(nameField);
        }
    }


    var subButton = document.getElementById('subButton');
    subButton.addEventListener('click', handleGuess, false);



  </script>

  <link rel="import" href="/static/otree-redwood/webcomponents/redwood-period/redwood-period.html">
   <link rel="import" href="/static/otree-redwood/webcomponents/redwood-channel/redwood-channel.html" />
    <link
	rel="import"
	href="/static/bower_components/polymer/polymer.html" />

  {% endblock %}

  {% block content %}
{#    <!-- Include the components on the page -->#}
{#    <redwood-period></redwood-period>#}
{#    <redwood-decision></redwood-decision>#}
{##}
{#    <p>Other Decision: <span id="other-decision"></span></p>#}
{#      <p>Group Dec: <span id="group-dec"></span></p>#}
{##}
{##}
{##}
{#    <button type=button onclick="setDecision(0)">Decision=0</button>#}
{#    <button type=button onclick="setDecision(1)">Decision=1</button>#}

    <!-- Delete Everything above here -->

      <redwood-period></redwood-period>

      <redwood-channel
    		id="guessingChannel"
    		channel="guessingChannel">
	    </redwood-channel>


    	<redwood-channel
            id = 'correct_guessChannel'
    		channel="correct_guess">
	    </redwood-channel>



        <div class='wrapper'>
        <form id='nameForm'>
            <div class='form-uname'>
            <lable id='nameLable' for='guessField'>Guess a word:</lable>
            <input id='guessField' type='text' maxlength='25'></input>
        </div>

        <br><br>


        <div class='form-sub'>
        <button id='subButton' type='button'>Submitt your guess</button>
        </div>
        </form>
        <br> <br>

<div>
    <p id='result'></p></div>
</div>





{% endblock %}


