{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Page title
{% endblock %}

{% block scripts %}
  <script>


    //this prevents that pressing enter will automatically submitt the page and abort the game for a player
    $(document).on("keypress", 'form', function (e) {
    var code = e.keyCode || e.which;
    console.log(code);
    if (code == 13) {
        console.log('Inside');
        e.preventDefault();
        return false;
    }
});



    // Boilerplate that lets you access useful oTree template variables from Javascript.
    // from the docs:
    //<otree-constants>` is used by most of the other webcomponents, so this block is
    //required in any template using the otree-redwood components:
    var oTree = oTree || {};
    (function() {
      oTree.group = parseInt("{{ player.group.pk }}");
      oTree.group = isNaN(oTree.group) ? null : oTree.group;
      oTree.role = "{{ player.role }}";
      oTree.participantCode = "{{ player.participant.code }}";
      oTree.appName = "{{ subsession.app_name }}";
      oTree.idInGroup = "{{ player.id_in_group }}";
      oTree.csrfToken = "{{ csrf_token }}";
      {% if view.is_debug %}
      oTree.debug = true;
      {% else %}
      oTree.debug = false;
      {% endif %}
    })();




    //This function is called when the submitt button is clicked
    // this fills the field where the own submissions are listed
    // it also sends the word over the guessing Channel to otree, therefore on_guessingchannel_event is called
    // I also want that the channel is fired from here...
    function handleGuess() {
        //TODO initialize the variables out of the function?
        //grap the input of the input form as a variable
         var guessed = document.getElementById('guessField').value;
         var result = document.getElementById('result');
         var guessingChan = document.getElementById("guessingChannel");

        if (guessed.length < 1) {
            result.textContent = 'Please type anything';

        } else {
            result.textContent = guessed;
            guessingChan.send({guess: guessed})
        }
    }

    // Call the handle Guess function whenever the submitt button is clicked (then the guess is displayed for the player and sended to the channel)
    var subButton = document.getElementById('subButton');
    subButton.addEventListener('click', handleGuess, false);

    //call other_guesses, whenever something is sent from oTree over the groupGuessChannel
    document.getElementById('groupGuessChannel').addEventListener('event', other_guesses);

    // function that receives the other guesses and fills the guess list bar on the right
    // the function is directly given the guess as paramter
    function other_guesses(event) {

       //do some list stuff
       var node = document.createElement("Li");
       //here comes the guess from the channel
       var textnode=document.createTextNode(event.detail.payload);
       node.appendChild(textnode);
       document.getElementById("guesslist").appendChild(node);

    }

     //call correct guess, whenever something is sent from oTree over the groupGuessChannel
    document.getElementById('correctGuessChannel').addEventListener('event', correct_guess);

    function correct_guess(event) {
        //receive the guess of another player, call it msg

        console.log(event.detail.payload)
        // note: from otree i send a dic e.g: {'correctguess': guess.capitalize(),'whichword': s_i}
        // this is how i can acces it: event.detail.payload.correctguess; event.detail.payload.whichword

        // get exactly the html corresponding to the answer that is sent from otree, thats cool
        var correctguess =  document.getElementById(event.detail.payload.whichword);
        correctguess.textContent = event.detail.payload.correctguess
    }


    document.getElementById('questionChannel').addEventListener('event', receive_question);
    function receive_question(event){
        var questiontag = document.getElementById('question')
        questiontag.textContent = event.detail.payload
    }

  </script>

  <link
    rel="import"
    href="/static/otree-redwood/webcomponents/redwood-period/redwood-period.html">
  <link
    rel="import"
    href="/static/otree-redwood/webcomponents/redwood-channel/redwood-channel.html" />
  <link
    rel="import"
    href="/static/bower_components/polymer/polymer.html" />


    <style type="text/css">
        wrapper {
        width: 500px;
        border: 1px solid black;
        overflow: hidden; /* will contain if #middle is longer than #wordbar */
        }

        #middle {
            width: 500px;
            height: 500px;
            float:left; /* add this */
            border: 1px solid red;
            margin-right: 20px;
        }
        #wordbar {
            margin-top: -5px;
            border: 1px solid green;
            width: 300px;
            height: 500px;
            overflow: hidden; /* if you don't want #wordbar to wrap below #first */
        }
        #centerthis {
            margin-left: 30px;
        }
        h4{ margin-left: 70px; margin-top: 10px}

        #wordholder{width: 70px; margin-top: 60px;}

        #question{font-family: "HelveticaNeue-Light"; font-weight: bold;}




    </style>

  {% endblock %}

  {% block content %}

      <!-- add this then the period_length() function is called in oTree -->
      <redwood-period></redwood-period>

      <!-- set up channels  -->
      <redwood-channel
    		id="guessingChannel"
    		channel="guessingChannel">
	    </redwood-channel>


      <redwood-channel
            id="groupGuessChannel"
    		channel="group_guesses">
	    </redwood-channel>


    	<redwood-channel
            id="correctGuessChannel"
    		channel="correct_guess">
	    </redwood-channel>


        <redwood-channel
            id="questionChannel"
    		channel="questionChannel">
	    </redwood-channel>




      <!-- Template of the page -->


      <div id="wrapper">


        <div id="middle">


          <div id="centerthis">

              <!-- Display a correct guess of the players -->
               <div id="wordholder">
                   <p id='s1' style="border:1px; border-style:solid; padding-left: 6px";>Word 1</p>
                   <p id='s2' style="border:1px; border-style:solid; padding-left: 6px";>Word 2</p>
                   <p id='s3' style="border:1px; border-style:solid; padding-left: 6px";>Word 3</p>
                   <p id='s4' style="border:1px; border-style:solid; padding-left: 6px";>Word 4</p>
                   <p id='s5' style="border:1px; border-style:solid; padding-left: 6px";>Word 5</p>
               </div>

                <br><br><br>

                <!-- Display the question -->
                <p id="question">Prepare for the first question ...</p>


              <br><br>

              <!-- Input form -->
              <input id='guessField' type='text' maxlength='25' placeholder="Guess a word!" >


                <br><br>

                <!-- Button submitt input  -->
                <button id='subButton' type='button' >Submitt your guess</button>



                <br><br>

                 <!-- Display the players last guess -->
                <div>Your last guess: <br>
                    <p id='result'></p></div>
                </div>

              <br><br>

          </div>


        </div>

        <div id="wordbar">
            <h4>Group Guesses</h4>


           <!-- Display guesses of the other players -->
           <br>
           <ul id='guesslist'></ul>



        </div>
      </div>


















{% endblock %}


